.app {
	color: black;
	margin: 10px;
}

.transactions-list {
	display: flex;
	width: 100%;
	list-style: none;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

.transactions-list-element-header {
	font-weight: bold;
	font-weight: bold;
	margin-bottom: 10px;
}

.transactions-list-element {
	display: flex;
	flex-direction: row;
}

.transactions-list-element-credit {
	color: blue;
}

.transactions-list-element-debit {
	color: violet;
}

.transactions-list-element-column {
	border: solid 1px black;
	padding: 5px;
	flex: 1;
	text-transform: capitalize;
}